/*common*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 90%;
  margin: auto;
}

#site_main{
  background-color: lightgrey;
  height: 700px;
}


/*header*/
#site_header{
  margin-top: 5rem;
  border-top: 1px solid lightgrey;
 }

#titolo{
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

#logo{
  margin: 10px 5px;
}

/*main*/
.container{
  height: 500px;
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 5px;

}

.pulsanti{
  padding: 20px 40px;
  border-bottom: 1px solid lightgrey;
}
#add_task{
  background-color: #47ADF1;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#add_section{
  background-color: white;
  color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}