/*common*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: lightgrey;
  font-family: 'Catamaran', sans-serif;
}

p{
  font-size: 20px;
}

li{
  padding: 15px 0;
  list-style: none;
}

/*header*/
#site_header{
  border-top: 1px solid lightgrey;
  background-color: white;
  height: 70px;
  line-height: 70px;;
}

#titolo{
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
}

#logo{
  margin: 10px 5px;
  vertical-align: middle;
}

/*main*/
#site_main{
  margin-top: 5rem;
  background-color: lightgrey;
  height: 700px;
}


.container{
  margin-top: 100px;
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 5px;
 }

/*Pulsanti*/
.pulsanti{
  padding: 20px 40px;
  border-bottom: 1px solid lightgrey;
}
#add_task{
  background-color: #47ADF1;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#add_section{
  background-color: white;
  color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

/*New Task*/
.new_task{
  padding: 20px 40px;
}
.fatto{
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px;
}

.non_fatto{
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px;

}

.evidenziato{
  color: white;
  padding: 7px;
  border-radius: 10px;
  font-size: 13px;
}

/* COLORI */
.blu{
  background-color: #47ADF1;
}
.viola{
  background-color: #9C72E4;
}
.verde_scuro{
  background-color: #64C0A9;
}
.arancione{
  background-color: #F29E33;
}
.rosa{
 background-color: #D863A1;
}
.verde_chiaro{
  background-color: #B0C926;
}


